/*
 * Copyright (c) 2018 Aurelien Jarno
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f7/stm32f723Xe.dtsi>
#include <st/f7/stm32f723i(c-e)kx-pinctrl.dtsi>
#include "arduino_r3_connector.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/memory-controller/stm32-fmc-nor-psram.h>


/ {
	model = "STMicroelectronics STM32F723E DISCOVERY board";
	compatible = "st,stm32f723e-disco";

	chosen {
		zephyr,console = &usart6;
		zephyr,shell-uart = &usart6;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &mx25r512;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_1 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};
		red_led: led_2 {
			gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
			label = "User LD5";
		};
		green_led: led_3 {
			gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
			label = "User LD6";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &blue_led;
		led1 = &red_led;
		led2 = &green_led;
		sw0 = &user_button;
		spi-flash0 = &mx25r512;
	};
	psram: memory@60000000 { /* FMC_NORSRAM_BANK1 */
			compatible = "zephyr,memory-region", "mmio-sram";
			device_type = "memory";
			reg = <0x60000000 DT_SIZE_K(512)>;
			zephyr,memory-region = "PSRAM";
			zephyr,memory-attr = <( DT_MEM_ARM(ATTR_MPU_RAM) )>;
	}; // psram
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <432>;
	div-p = <2>;
	div-q = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(216)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_ph4 &i2c2_sda_ph5>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_ph8>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";
};

&quadspi {
	pinctrl-names = "default";
	pinctrl-0 = <&quadspi_clk_pb2 &quadspi_bk1_ncs_pb6
		&quadspi_bk1_io0_pc9 &quadspi_bk1_io1_pc10
		&quadspi_bk1_io2_pe2 &quadspi_bk1_io3_pd13>;
	flash-id = <1>;
	status = "okay";

	mx25r512: qspi-nor-flash@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		qspi-max-frequency = <8000000>;
		size = <DT_SIZE_M(512)>; /* 64 MBytes */
		status = "okay";
		spi-bus-width = <4>;
		writeoc = "PP_1_4_4";
	};
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

//THIS WAS THE PROBLEM v


&clk_lsi {
	status = "okay";
}; // clk_lsi

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
}; // rtc

//add the real time clock (???)

&fmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 =
		<&fmc_ne1_pd7		/* PSRAM_NE1 - nCS1 (CS2) */
		 &fmc_ne2_pg9		/* LCD_NE - nCS */
		 &fmc_nwe_pd5		/* LCD_PSRAM_NWE - LCD:nWR/PSRAM:nWE */
		 &fmc_noe_pd4		/* LCD_PSRAM_NOE - LCD:nRD/PSRAM:nOE */
		 &fmc_nbl0_pe0		/* PSRAM_NBL0 - nLB */
		 &fmc_nbl1_pe1		/* PSRAM_NBL1 - nUB */
		 &fmc_a0_pf0		/* LCD-RS_A0 - LCD:RS/PSRAM_A0 - A0 */
		 &fmc_a1_pf1		/* PSRAM_A1 - A1 */
		 &fmc_a2_pf2		/* PSRAM_A2 - A2 */
		 &fmc_a3_pf3		/* PSRAM_A3 - A3 */
		 &fmc_a4_pf4		/* PSRAM_A4 - A4 */
		 &fmc_a5_pf5		/* PSRAM_A5 - A5 */
		 &fmc_a6_pf12		/* PSRAM_A6 - A6 */
		 &fmc_a7_pf13		/* PSRAM_A7 - A7 */
		 &fmc_a8_pf14		/* PSRAM_A8 - A8 */
		 &fmc_a9_pf15		/* PSRAM_A9 - A9 */
		 &fmc_a10_pg0		/* PSRAM_A10 - A10 */
		 &fmc_a11_pg1		/* PSRAM_A11 - A11 */
		 &fmc_a12_pg2		/* PSRAM_A12 - A12 */
		 &fmc_a13_pg3		/* PSRAM_A13 - A13 */
		 &fmc_a14_pg4		/* PSRAM_A14 - A14 */
		 &fmc_a15_pg5		/* PSRAM_A15 - A15 */
		 &fmc_a16_pd11		/* PSRAM_A16 - A16 */
		 &fmc_a17_pd12		/* PSRAM_A17 - A17 */
					/* GND - A18 */
		 &fmc_d0_pd14		/* LCD_PSRAM_D0 */
		 &fmc_d1_pd15		/* LCD_PSRAM_D1 */
		 &fmc_d2_pd0		/* LCD_PSRAM_D2 */
		 &fmc_d3_pd1		/* LCD_PSRAM_D3 */
		 &fmc_d4_pe7		/* LCD_PSRAM_D4 */
		 &fmc_d5_pe8		/* LCD_PSRAM_D5 */
		 &fmc_d6_pe9		/* LCD_PSRAM_D6 */
		 &fmc_d7_pe10		/* LCD_PSRAM_D7 */
		 &fmc_d8_pe11		/* LCD_PSRAM_D8 */
		 &fmc_d9_pe12		/* LCD_PSRAM_D9 */
		 &fmc_d10_pe13		/* LCD_PSRAM_D10 */
		 &fmc_d11_pe14		/* LCD_PSRAM_D11 */
		 &fmc_d12_pe15		/* LCD_PSRAM_D12 */
		 &fmc_d13_pd8		/* LCD_PSRAM_D13 */
		 &fmc_d14_pd9		/* LCD_PSRAM_D14 */
		 &fmc_d15_pd10>;	/* LCD_PSRAM_D15 */

	nor-psram {
		status = "okay";
//add this
		#address-cells = <1>;
		#size-cells = <0>;
		is66wv51216ebll: fmc-nor-psram@0 {
			reg = <0>; /* FMC_NORSRAM_BANK1 */
			st,control = <STM32_FMC_DATA_ADDRESS_MUX_DISABLE
				      STM32_FMC_MEMORY_TYPE_SRAM
				      /* STM32_FMC_MEMORY_TYPE_PSRAM */
				      STM32_FMC_NORSRAM_MEM_BUS_WIDTH_16
				      STM32_FMC_BURST_ACCESS_MODE_DISABLE
				      STM32_FMC_WAIT_SIGNAL_POLARITY_LOW
				      STM32_FMC_WAIT_TIMING_BEFORE_WS
				      STM32_FMC_WRITE_OPERATION_ENABLE
				      STM32_FMC_WAIT_SIGNAL_DISABLE
				      STM32_FMC_EXTENDED_MODE_DISABLE
				      STM32_FMC_ASYNCHRONOUS_WAIT_DISABLE
				      STM32_FMC_WRITE_BURST_DISABLE
				      STM32_FMC_CONTINUOUS_CLOCK_SYNC_ONLY
				      STM32_FMC_WRITE_FIFO_DISABLE
				      STM32_FMC_PAGE_SIZE_NONE>;
			st,timing = <9 2 6 1 2 2 STM32_FMC_ACCESS_MODE_A>;
		}; // is66wv51216ebll

	}; // nor-psram
}; // fmc

